java/src/elliptica-ling.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
	jxb:version="2.1"
>
<xs:annotation>
	<xs:appinfo>
		<jaxb:globalBindings collectionType="&#1103;&#1074;&#1072;.&#1080;&#1085;&#1089;&#1090;&#1088;&#1091;&#1084;.&#1055;&#1086;&#1088;&#1103;&#1076;&#1082;&#1086;&#1074;&#1099;&#1081;&#1057;&#1087;&#1080;&#1089;&#1086;&#1082;"/>
	</xs:appinfo>
</xs:annotation>

  <xs:element name="&#1074;&#1072;&#1088;&#1080;&#1072;&#1085;&#1090;" type="&#1074;&#1072;&#1088;&#1080;&#1072;&#1085;&#1090;"/>

  <xs:element name="&#1076;&#1080;&#1072;&#1087;&#1072;&#1079;&#1086;&#1085;" type="&#1076;&#1080;&#1072;&#1087;&#1072;&#1079;&#1086;&#1085;"/>

  <xs:element name="&#1082;&#1086;&#1083;&#1083;&#1077;&#1082;&#1094;&#1080;&#1103;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1086;&#1074;" type="&#1082;&#1086;&#1083;&#1083;&#1077;&#1082;&#1094;&#1080;&#1103;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1086;&#1074;"/>

  <xs:element name="&#1083;&#1077;&#1084;&#1084;&#1072;" type="&#1083;&#1077;&#1084;&#1084;&#1072;"/>

  <xs:element name="&#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1057;&#1080;&#1085;&#1090;" type="&#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1057;&#1080;&#1085;&#1090;"/>

  <xs:element name="&#1086;&#1084;&#1086;&#1085;&#1080;&#1084;" type="&#1086;&#1084;&#1086;&#1085;"/>

  <xs:element name="&#1087;&#1086;&#1079;&#1080;&#1094;&#1080;&#1103;&#1057;&#1086;&#1102;&#1079;&#1072;" type="&#1087;&#1086;&#1079;&#1080;&#1094;&#1080;&#1103;&#1057;&#1086;&#1102;&#1079;&#1072;"/>

  <xs:element name="&#1087;&#1088;&#1077;&#1076;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1077;" type="&#1087;&#1088;&#1077;&#1076;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1077;"/>

  <xs:element name="&#1089;&#1074;&#1103;&#1079;&#1100;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1086;&#1074;" type="&#1089;&#1074;&#1103;&#1079;&#1100;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1086;&#1074;"/>

  <xs:element name="&#1089;&#1083;&#1086;&#1074;&#1086;" type="&#1089;&#1083;&#1086;&#1074;&#1086;"/>

  <xs:element name="&#1090;&#1077;&#1082;&#1089;&#1090;" type="&#1089;&#1080;&#1085;&#1090;&#1072;&#1082;&#1089;&#1080;&#1095;&#1077;&#1089;&#1082;&#1086;&#1077;&#1044;&#1077;&#1088;&#1077;&#1074;&#1086;"/>

  <xs:element name="&#1090;&#1080;&#1087;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1072;" type="&#1090;&#1080;&#1087;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1072;"/>

  <xs:element name="&#1092;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;" type="&#1092;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;"/>

  <xs:complexType name="&#1074;&#1072;&#1088;&#1080;&#1072;&#1085;&#1090;">
    <xs:complexContent>
      <xs:extension base="&#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1057;&#1080;&#1085;&#1090;">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="&#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1057;&#1080;&#1085;&#1090;">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="&#1076;&#1080;&#1072;&#1087;&#1072;&#1079;&#1086;&#1085;">
    <xs:complexContent>
      <xs:extension base="&#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1057;&#1080;&#1085;&#1090;">
        <xs:sequence>
          <xs:element name="&#1076;&#1083;&#1080;&#1085;&#1072;" type="xs:int"/>
          <xs:element name="&#1082;&#1086;&#1085;&#1077;&#1094;" type="xs:int"/>
          <xs:element name="&#1085;&#1072;&#1095;&#1072;&#1083;&#1086;" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="&#1082;&#1086;&#1083;&#1083;&#1077;&#1082;&#1094;&#1080;&#1103;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1086;&#1074;">
    <xs:complexContent>
      <xs:extension base="&#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1057;&#1080;&#1085;&#1090;">
        <xs:sequence>
          <xs:element name="&#1089;&#1087;&#1080;&#1089;&#1086;&#1082;&#1057;&#1074;&#1103;&#1079;&#1077;&#1081;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1086;&#1074;" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="&#1089;&#1074;&#1103;&#1079;&#1100;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1086;&#1074;" type="&#1087;&#1086;&#1088;&#1103;&#1076;&#1082;&#1086;&#1074;&#1099;&#1081;&#1057;&#1087;&#1080;&#1089;&#1086;&#1082;" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="&#1089;&#1087;&#1080;&#1089;&#1086;&#1082;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1086;&#1074;" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="&#1092;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="&#1087;&#1086;&#1088;&#1103;&#1076;&#1082;&#1086;&#1074;&#1099;&#1081;&#1057;&#1087;&#1080;&#1089;&#1086;&#1082;">
    <xs:complexContent>
      <xs:extension base="arrayList">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="arrayList">
    <xs:complexContent>
      <xs:extension base="abstractList">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractList" abstract="true">
    <xs:complexContent>
      <xs:extension base="abstractCollection">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractCollection" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="&#1092;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;">
    <xs:complexContent>
      <xs:extension base="&#1076;&#1080;&#1072;&#1087;&#1072;&#1079;&#1086;&#1085;">
        <xs:sequence>
          <xs:element name="&#1074;&#1072;&#1088;&#1080;&#1072;&#1085;&#1090;&#1099;" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="&#1074;&#1072;&#1088;&#1080;&#1072;&#1085;&#1090;" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="&#1087;&#1088;&#1077;&#1076;&#1096;&#1077;&#1089;&#1090;&#1074;&#1091;&#1102;&#1097;&#1080;&#1081;" type="&#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1057;&#1080;&#1085;&#1090;" minOccurs="0"/>
          <xs:element name="&#1089;&#1086;&#1102;&#1079;&#1099;" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="&#1087;&#1086;&#1079;&#1080;&#1094;&#1080;&#1103;&#1057;&#1086;&#1102;&#1079;&#1072;" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="&#1090;&#1080;&#1087;&#1099;" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="&#1090;&#1080;&#1087;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1072;" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="&#1095;&#1080;&#1089;&#1083;&#1086;&#1055;&#1091;&#1085;&#1082;&#1090;&#1047;&#1085;&#1072;&#1082;&#1086;&#1074;" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="&#1087;&#1086;&#1079;&#1080;&#1094;&#1080;&#1103;&#1057;&#1086;&#1102;&#1079;&#1072;">
    <xs:complexContent>
      <xs:extension base="&#1076;&#1080;&#1072;&#1087;&#1072;&#1079;&#1086;&#1085;">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="&#1090;&#1080;&#1087;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1072;">
    <xs:complexContent>
      <xs:extension base="&#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1057;&#1080;&#1085;&#1090;">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="&#1086;&#1084;&#1086;&#1085;">
    <xs:complexContent>
      <xs:extension base="&#1086;&#1084;&#1086;&#1085;&#1080;&#1084;">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="&#1086;&#1084;&#1086;&#1085;&#1080;&#1084;">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="&#1087;&#1088;&#1077;&#1076;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1077;">
    <xs:complexContent>
      <xs:extension base="&#1082;&#1086;&#1083;&#1083;&#1077;&#1082;&#1094;&#1080;&#1103;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1086;&#1074;">
        <xs:sequence>
          <xs:element name="&#1089;&#1087;&#1080;&#1089;&#1086;&#1082;&#1057;&#1083;&#1086;&#1074;" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="&#1089;&#1083;&#1086;&#1074;&#1086;" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="&#1089;&#1083;&#1086;&#1074;&#1086;">
    <xs:complexContent>
      <xs:extension base="&#1083;&#1077;&#1084;&#1084;&#1072;">
        <xs:sequence>
          <xs:element name="&#1086;&#1084;&#1086;&#1085;&#1080;&#1084;&#1099;" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="&#1086;&#1084;&#1086;&#1085;&#1080;&#1084;" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="&#1083;&#1077;&#1084;&#1084;&#1072;">
    <xs:sequence>
      <xs:element name="&#1079;&#1085;&#1072;&#1095;&#1077;&#1085;&#1080;&#1077;" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="&#1089;&#1074;&#1103;&#1079;&#1100;&#1060;&#1088;&#1072;&#1075;&#1084;&#1077;&#1085;&#1090;&#1086;&#1074;">
    <xs:complexContent>
      <xs:extension base="&#1076;&#1080;&#1072;&#1087;&#1072;&#1079;&#1086;&#1085;">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="&#1089;&#1080;&#1085;&#1090;&#1072;&#1082;&#1089;&#1080;&#1095;&#1077;&#1089;&#1082;&#1086;&#1077;&#1044;&#1077;&#1088;&#1077;&#1074;&#1086;">
    <xs:complexContent>
      <xs:extension base="&#1086;&#1073;&#1098;&#1077;&#1082;&#1090;&#1057;&#1080;&#1085;&#1090;">
        <xs:sequence>
          <xs:element name="&#1087;&#1088;&#1077;&#1076;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1103;" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="&#1087;&#1088;&#1077;&#1076;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1077;" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

